dump.rdb
**/*~
*~
.rvmrc
.bundle
.directory
.project
.loadpath
.sass-cache
.DS_*
TAGS
db/*.sqlite3
*~*
**/*~
#*
*#
.#*
*.vp*
*.lock
compass/*
config/database.yml
.DS_Store
Gemfile.lock
log/*
tmp/**
public/clicktale/*
uploads/*
public/uploads/*
mutter/*
Procfile
