%h1 Ordens

%table.table.table-striped
  %tr
    %th Status
    %th Preço
    %th.hidden-phone Data
    %th Atualizado
    %th Cliente
    %th
    %th.visible-desktop
    / %th.hidden-phone
    / %th.hidden-phone

  = render @orders
