
// Accent colors
// -------------------------
blue =                  #049cdb
blueDark =              #0064cd
green =                 #46a546
red =                   #9d261d
yellow =                #ffc40d
orange =                #f89406
pink =                  #c3325f
purple =                #7a43b6



// Z-index master list
// -------------------------

zindexTooltip =           1030



// Typography
// -------------------------
sansFontFamily =        "Helvetica Neue", Helvetica, Arial, sans-serif
serifFontFamily =       Georgia, "Times New Roman", Times, serif
monoFontFamily =        Monaco, Menlo, Consolas, "Courier New", monospace

baseFontSize =          14px
baseFontFamily =        sansFontFamily
baseLineHeight =        20px
altFontFamily =         serifFontFamily

headingsFontFamily =    inherit // empty to use BS default, @baseFontFamily
headingsFontWeight =    bold    // instead of browser default, bold
headingsColor =         inherit // empty to use BS default, @textColor



//
// Tooltips
// --------------------------------------------------


// Tooltips and popovers
// -------------------------
tooltipColor =            #fff
tooltipBackground =       #000
tooltipArrowWidth =       5px
tooltipArrowColor =       tooltipBackground

popoverBackground =       #fff
popoverArrowWidth =       10px
popoverArrowColor =       #fff
popoverTitleBackground =  darken(popoverBackground, 3%)

// Special enhancement for popovers
popoverArrowOuterWidth =  popoverArrowWidth + 1
popoverArrowOuterColor =  rgba(0,0,0,.25)
