<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="1" height="1" id="flash" name="flash">
  <param name="movie" value="<%= asset_path 'kuva.swf' %>" />
  <param name="quality" value="best" />
  <param name="bgcolor" value="#FFFFFF" />
  <param name="play" value="true" />
  <param name="loop" value="true" />
  <param name="wmode" value="transparent" />
  <param name="scale" value="exactfit" />
  <param name="menu" value="true" />
  <param name="devicefont" value="false" />
  <param name="salign" value="" />
  <param name="allowScriptAccess" value="sameDomain" />
  <!--[if !IE]>-->
  <object name="flash" id="flash" type="application/x-shockwave-flash" data="<%= asset_path 'kuva.swf' %>" width="1" height="1">
	<param name="movie" value="<%= asset_path 'kuva.swf' %>" />
	<param name="quality" value="best" />
	<param name="bgcolor" value="#FFFFFF" />
	<param name="play" value="true" />
	<param name="loop" value="true" />
	<param name="wmode" value="transparent" />
	<param name="scale" value="exactfit" />
	<param name="menu" value="true" />
	<param name="devicefont" value="false" />
	<param name="salign" value="" />
	<param name="allowScriptAccess" value="sameDomain" />
	<!--<![endif]-->
	<a href="http://www.adobe.com/go/getflash">
	  <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
	</a>
	<!--[if !IE]>-->
  </object>
  <!--<![endif]-->
</object>
