%br
= render @orders
%br
%br

.infos
  %div A retirada e o pagamento do serviço devem ser feitas por você na loja principal do Pedro Cine Foto, na Rua da Bahia, 501, Centro, Belo Horizonte - MG
  %div
    Caso tenha alguma dúvida ou problema com seu pedido,
    = link_to "clique aqui para falar com a gente", "#"
    = "ou ligue no #{main_phone}"