<form id="form">
  <input type="file" name="files[]" id="files" multiple />
  <button id="abort">Cancelar</button>
</form>

<div id="gadgets"></div>

<script type="text/x-jqote-template" id="gadget">
<![CDATA[
  <div id="gadget-<*= this.id *>" class="gadget">
    <img class="thumbnail" src="<*= this.source *>" title="<*= this.name *>" />
    <div class="bar"></div>
  <div>
]]>
</script>

