<script>
  $(function () {
		library.flash.session( { token: '<%= current_user.authentication_token %>' } );
		kuva.orders( { order: <%= raw @order.to_json %> } );
  });
</script>

<form id="form">
  <input type="file" name="files[]" id="files" multiple />
  <button id="abort">Cancelar</button>
</form>

<div id="gadgets"></div>

<script type="text/x-jqote-template" id="gadget">
<![CDATA[
  <div id="gadget-<*= this.id *>" class="gadget">
    <div class="upload bar"></div>
    <img class="thumbnail" src="<*= this.source *>" title="<*= this.title *>" />
    <div class="thumbnail bar"></div>
  <div>
]]>
</script>

<div id="overlay" class="gadget"></div>

<!-- move partial to a embed tag -->
<%= render 'flash' %>
