@import 'nib'
@import 'helpers'

.simplemodal-container
  .close
    color white
    display none
    float right
    position relative
    top .5em
    right 1.5em


.modal
  background-color #333
  box-shadow 0px 5px 5px rgba(0, 0, 0, 0.5)
  border-radius 5px
  display none


  h1
    color lighten(success-color, 10%)
    padding 1em 1.5em
    font-size 1.4em

  .content
    clearfix()
    background-color white
    border-radius 5px
    margin 0 .7em
    padding 1em

  .button-group
    text-align right
    padding 1em 0.6em

  a.button, button
    display inline-block