@import 'helpers'


#orders

  table
    td
      &.id
        line-height 1em
        small
          color #BBB
          display block
          font-size 0.8em

    &#photos
      td
        line-height 27px

  .status-actions
    vertical-align 1px

  #download
    display inline-block
    vertical-align middle