#orders

  padding 0


  h1
    font-size 1.5em
    padding-bottom 0.5em
    small
      font-size 0.8em
      font-weight normal

  & > .navbar
    display none

  .tab-content
    .tab-pane
      display none !important
      &#simple
        display block !important