@import 'nib'
@import 'helpers'



control-style(color)
  background-color color
  background-image linear-gradient(top, lighten(color, 10%), darken(color, 10%))
  box-shadow inset 0 1px 1px rgba(255,255,255,0.3), inset 0 -1px 1px #000, 0 1px 2px rgba(0,0,0,0.4)

  &:hover, &.over
    background-color lighten(color, 20%)
    background-image linear-gradient(top, lighten(color, 30%), lighten(color, 20%))

  &:active, &.active
    background-color color
    background-image linear-gradient(bottom, darken(color, 20%), lighten(color, 0%))




#photos

  & > .tooltip
    .tooltip-inner
      line-height 1em
      padding 0.7em
    small
      color #999
      display block
      margin-top 0.5em


  #overlay
    width 100%
    height 100%
    position absolute
    top 0px
    left 0px
    display none
    background image('bla.gif') center center rgba(0,0,0,0.4) no-repeat





  .add-files
    color = #EEE
    border 0.15em dashed color
    border-radius 20px
    color color
    font-size 1.25em
    line-height 1.25em
    padding 0 1em
    text-align center
    vertical-align middle





  #main
    padding-right 11em


    #gadgets
      border-spacing 1em
      width 100%

      .gadget
        control-background-color = #111

        background-color #eee
        display inline-block
        height 250px
        margin 10px
        padding 20px
        position relative
        text-align center
        width @height


        &.ruler-pomp
          background-position -8px -8px


        sizes      = "10x15", "15x21"
        directions = "horizontal", "vertical"

        for direction in directions
          for size in sizes
            composition = size + "-" + direction
            &.size-{size}.{direction}
              &.ruler-pomp
                background-image image("size-" + composition + ".png")


        &.paper-glossy
          .canvas
            .control.paper
              background-image image('control-icon-paper-glossy.png')
            .pomp.paper-pomp
              background-image image('paper-glossy.png')
        &.paper-matte
          .canvas
            .control.paper
              background-image image('control-icon-paper-matte.png')
            .pomp.paper-pomp
              background-image image('paper-matte.png')


        .bar
          display none
          position absolute
          top 0em
          z-index 1


        .canvas

          display inline-block
          position relative

          img
            position relative
            z-index 2
            text-align center
            vertical-align middle

          .pomp
            position absolute
            z-index 3

            &.paper-pomp
              height 77px
              right 0
              top 0
              width 76px
            // &.size-pomp


          .control
            size = 28px
            control-style(control-background-color)
            border-radius 100px
            color #FFF
            cursor pointer
            transition opacity 0.5s
            height size
            line-height @height
            min-width @height
            position absolute
            width @height
            z-index 3

            &.hideable
              opacity 0

            &.size
              background-image image('control-icon-size.png')
              background-position 0 0
              background-repeat no-repeat
              left -(size + 5px)
              top @left

            &.paper
              right 6px
              top 6px

            &.duplicate
              background-image image('control-icon-duplicate.png')
              margin-top -(size / 2)
              right @margin-top
              top 50%

            &.count
              background-color #EEE
              background-color rgba(255,255,255,0.8)
              background-image none
              bottom -( size / 2)
              color #000
              cursor default
              font-size 0.9em
              right 20px
              text-align center
              width size
              transition all 0.5s, right 0.25s, width 0.25s

              &:hover
                right -6px
                width 80px
                .subcontrol
                  opacity 1

              .pomp
                display inline-block
                position relative
                .times
                  color #999
                  font-size 0.8em
              .subcontrol
                min-width auto
                opacity 0
                position absolute
                transition opacity 0.5s
                &.minus
                  control-style(#F33)
                  height 14px
                  font-size 1.5em
                  left 7px
                  line-height @height - 1px
                  top @left
                  width @height
                &.plus
                  control-style(#6F6)
                  color black
                  font-size 1.7em
                  height 22px
                  line-height @height - 1px
                  right 3px
                  top @right
                  width @height



        &:hover, &.over
          .canvas
            .control
              opacity 1
              &.count
                background-image none
                background-color control-background-color
                color #FFF


        &.loading
          width 10em
          height 10em
          background-color #eee
          background image('jla.gif') center center no-repeat

          img
            width 25px
            height 25px



        &.thumbnailing
          width 10em
          height 10em
          outline 1px solid #eee
          background-color #bbb

          .thumbnail.bar
            display block
            height 100%
            background white


          img
            width 100%
            height 100%
            background image('la.gif') center center no-repeat



        &.loaded
          background-color transparent

          img
            box-shadow 1px 1px 4px #777
            transition opacity 1s ease-in


          .thumbnail.bar
            display none



        &.uploading
          background-color #bbb

          .upload.bar
            height .5em
            background-color lightBlue
            z-index 3



        &.uploaded
          background-color transparent

          .upload.bar
            height .2em


          img
            border 3px solid lightBlue





    #main-add

      text-align center

      #add-button
        color = #333
        border-color color
        color color
        cursor pointer
        margin 6em auto 0
        padding-top 4em
        width 15em

        .action
          color #666
          line-height 1.3em
          .main
            color color
            font-size 1.3em
            text-transform uppercase

        .alternative
          color #999
          font-size 0.7em
          padding-top 1em

        .formats
          color #999
          font-size 0.6em
          padding-top 6em

        &:hover, .over
          color = #000
          border-color color
          background-color #EEE
          color color

      .afterwards
          color #999
          padding-top 3em






  #aside

    background-color #000
    color #FFF
    height 100%
    padding 1em
    position fixed
    right 0
    top 0
    width 9em


    .header
      position absolute
      top 1em
      width 5em
      z-index 1

      .add-files
        display table-cell
        height 6.9em
        text-transform uppercase

        &:hover, .over
          background-color #222
          border-color #FFF
          color #FFF


    #summary
      padding-top 11.5em

      .item
        margin-bottom 1.4em
        text-align center
        .block
          display inline-block
          vertical-align middle
        .count
          color #FFF
          font-size 1.2em
        .times
          color #666
        .product .name
          color #999
          font-size 0.9em

      .divisor
        border-bottom 1px solid #444444

      .total
        color #99FF66
        padding-top 1.5em
        text-align center

        .unit
          font-size 0.9em
        .count
          font-size 2em


    a.button#end
      bottom 5em
      display block
      position absolute
      width 8.5em

    #cancel
      bottom 3em
      position absolute
      text-align center
      width 9em

      a
        link-color(#999)
        display block
        font-size 13px
        // .icon
        //   background url("sprite.png") no-repeat sprite("/assets/x.png")
        img
          vertical-align middle

    .faded
      opacity 0.4
      transition opacity 0.5s ease-in

    &:hover
      .faded
        opacity 1



.no-opacity
  #photos #main #gadgets .gadget .control.hideable
    display none
  #photos #main #gadgets .gadget:hover .control.hideable
    display block
  #photos #main #gadgets .gadget .control.count .subcontrol
    display none
  #photos #main #gadgets .gadget .control.count:hover .subcontrol
    display block