@import 'nib'
@import 'helpers'
@import 'bootstrap-stylus/component-animations'
@import 'bootstrap-stylus/tooltip'
@import 'bootstrap-stylus/progress-bars'





// @keyframes flip-paper-glossy {
//   0% {
//     translate: rotateY(0deg)
//
//   }
//
//   50% {
//     translate: rotateY(180deg)
//     background: url('control-icon-paper-glossy.png');
//   }
//
//   100% {
//     translate: rotateY(360deg)
//     background: url('control-icon-paper-glossy.png');
//   }
// }




// display(type)
//   if type == inline-block
//     display -moz-inline-stack
//     display inline-block
//     vertical-align middle
//     *vertical-align auto
//     zoom: 1
//     *display inline
//   else
//     display {type}




control-style(color)
  background-color color
  background-image linear-gradient(top, lighten(color, 10%), darken(color, 10%))
  box-shadow inset 0 1px 1px rgba(255,255,255,0.3), inset 0 -1px 1px #000, 0 1px 2px rgba(0,0,0,0.4)

  &:hover, &.over
    background-color lighten(color, 20%)
    background-image linear-gradient(top, lighten(color, 30%), lighten(color, 20%))

  &:active, &.active
    background-color color
    background-image linear-gradient(bottom, darken(color, 20%), lighten(color, 0%))




#photos

  .tooltip
    .tooltip-inner
      line-height 1em
      padding 0.7em
    small
      color #999
      display block
      margin-top 0.5em



  #initializing
    padding 10em
    text-align center

    .image
      padding 2em

    .message
      text-transform lowercase




  #overlay
    // background image('bla.gif') center center rgba(0,0,0,0.4) no-repeat
    background rgba(240,240,240,0.7)
    height 100%
    position fixed
    top 0px
    left 0px
    display none
    width 100%
    z-index 3






  .add-files
    color = #EEE
    border 0.15em dashed color
    border-radius 20px
    color color
    font-size 1.25em
    line-height 1.25em
    padding 0 1em
    text-align center
    vertical-align middle


  #defaults-gadget .gadget .canvas
    .tooltip
      &#tooltip-size
        width 127px
        left -172px
        top   -73px
        .tooltip-arrow
          top 55px
      &#tooltip-paper
        width 125px
        right -135px
        top   -17px
        .tooltip-arrow
          top 38px
      &#tooltip-count
        width  170px
        right -106px
        top    266px
        .tooltip-arrow
          left  auto
          right 134px
      &#tooltip-margin
        width 190px
        left -211px
        top   202px
        .tooltip-arrow
          bottom 14px
          top    auto
      &#tooltip-border
        width 260px
        left -285px
        top    -3px
        .tooltip-arrow
          top   15px

        .tooltip-inner
          max-width 260px

    .control.hideable.duplicate
      display none


  .gadget
    control-background-color = #111

    float left
    height 250px
    margin 10px
    padding 20px
    position relative
    text-align center
    width @height


    .modal
      background = #111
      background-color rgba(#000,0.8), background
      border-radius 5px
      color #999
      font-size 11px
      left 70px
      top 1px
      position absolute
      padding 10px 0
      width 150px
      z-index 3

      a
        link-color(#999)

      .title
        font-weight bold
        text-shadow 0 -1px 0 #000
      .sizes
        font-size 14px
        padding 1.5em 0
        a.size
          color = #FFF
          border-bottom 1px solid color
          border-color rgba(color,0.1), lighten(background, 15%)
          cursor pointer
          display block
          link-color(color)
          padding 0.5em 0
          transition background-color 0.5s, border-color 0.5s
          &.selected
            background-color rgba(255,255,255,0.05), lighten(background, 10%)
          &:hover
            background-color rgba(255,255,255,0.1), lighten(background, 15%)
            border-color rgba(255,255,255,0.2), lighten(background, 20%)
          .times
            color darken(color, 30%)
          .unit
            color darken(color, 60%)
            font-size 0.8em
      // a.back



    .bar
      background-color rgba(#FFF,0.65)
      display none
      height 100%
      position absolute
      top 0
      right 0
      z-index 2
      width 100%


    .canvas

      display inline-block
      position absolute
      transition width 0.5s, height 0.5s, top 0.5s, left 0.5s

      .image
        background-color #FFF
        border 0px solid #FF9
        box-shadow 1px 1px 4px #777
        overflow hidden
        position relative
        transition width 0.5s, height 0.5s, border 0.5s, opacity 1s

        img
          display block
          position absolute
          text-align center
          vertical-align middle
          z-index 2
          transition top 0.5s, left 0.5s, width 0.5s, height 0.5s


      .pomp
        position absolute
        z-index 3

        &.paper-pomp
          height 77px
          right 0
          top 0
          width 76px

        &.size-pomp
          font-size 0.5em
          left -23px
          text-shadow 0 1px #FFF
          top -21px

          .dimension
            background-color #FFF
            background-color rgba(255,255,255,0.7)
            border-radius 100px
            color #666
            line-height 1.3em
            position absolute

            &.height
              height auto
              left 2px
              top 20px
              padding 4px 2px
              width 13px
            &.width
              height 13px
              left 22px
              line-height 13px
              padding 2px 4px
              top 0px
              white-space nowrap
            .unit
              color #CCC


      .control
        size = 28px
        control-style(control-background-color)
        border-radius 100px
        color #FFF
        cursor pointer
        transition opacity 0.5s
        height size
        line-height @height
        min-width @height
        position absolute
        width @height
        z-index 3

        &.hideable
          opacity 0

          .no-opacity &
            display none

        &.size
          background-image image('control-icon-size.png')
          background-position 0 0
          background-repeat no-repeat
          left -(size + 5px)
          top @left

        &.paper
          right 6px
          top 6px

        &.duplicate
          background-image image('control-icon-duplicate.png')
          display none
          margin-top -(size / 2)
          right @margin-top
          top 50%

        &.border
          background-image image('control-icon-border.png')
          top  -3px
          left -3px

        &.margin
          background-image image('control-icon-margin.png')
          background-position 0 0
          bottom -9px
          left   -9px
          &:hover
            background-position -28px 0
          &.active
            background-position -56px 0

        &.count
          background-color #EEE
          background-color rgba(255,255,255,0.8)
          background-image none
          bottom -( size / 2)
          color #000
          cursor default
          font-size 0.9em
          right 20px
          text-align center
          width size
          transition all 0.5s, right 0.25s, width 0.25s

          &:hover
            right -6px
            width 80px
            .subcontrol
              opacity 1

          .pomp
            display inline-block
            position relative
            .times
              color #999
              font-size 0.8em
          .subcontrol
            min-width 0
            opacity 0
            position absolute
            transition opacity 0.5s
            .no-opacity &
              display none
            &.minus
              control-style(#F33)
              height 14px
              font-size 1.5em
              left 7px
              line-height @height - 3px
              top @left
              width @height
            &.plus
              control-style(#6F6)
              color black
              font-size 1.7em
              height 22px
              line-height @height - 1px
              right 3px
              top @right
              width @height




    &.ruler-pomp
      background-position -8px -8px


    sizes      = "10x15", "15x21", "20x25", "20x30", "24x30", "30x40", "30x45"
    orientations = "horizontal", "vertical"

    for orientation in orientations
      for size in sizes
        composition = size + "-" + orientation
        &.size-{size}.{orientation}
          &.ruler-pomp
            background-image image("size-" + composition + ".png")



    &:hover, &.controlable
      .canvas
        .control, .control.hideable
          opacity 1
          &.count
            background-image none
            background-color control-background-color
            color #FFF


    &.margin
      .canvas .image
        border 4px solid white

    &.paper-glossy
      .canvas
        .control.paper
          background-image image('control-icon-paper-glossy.png')
        .pomp.paper-pomp
          background-image image('paper-glossy.png')
    &.paper-matte
      .canvas
        .control.paper
          background-image image('control-icon-paper-matte.png')
        .pomp.paper-pomp
          background-image image('paper-matte.png')


    &.sizing
      .modal-size
        display none
      &:hover
        .canvas .pomp.size-pomp .dimension
          background-color rgba(230,230,230,0.7), #EEE
        .control, .control.hideable
          opacity 0
          &.size
            opacity 1
        .modal-size
          display block


    &.zero
      background none !important
      .canvas
        .pomp
          &.size-pomp, &.paper-pomp
            opacity 0.5
            transition opacity 0.5s
        .image
          opacity 0.3
        .control, .control.hideable
          opacity 0
          &.count
            opacity 1
            .subcontrol
              display block
            .subcontrol.minus
              display none



    &.loading
      width 10em
      height 10em

      img
        width 25px
        height 25px



    &.thumbnailing
      width 10em
      height 10em

      .image
        background-color #000

      .thumbnail.bar
        display block
        height 100%


      img
        width 100%
        height 100%
        background image('la.gif') center center no-repeat



    &.loaded
      background-color transparent

      img
        transition opacity 1s ease-in

      .canvas

        .image
          background none

        .control, .control.hideable
          &.duplicate
            display block

      .thumbnail.bar
        display none



    &.uploaded
      background-color transparent



    &.errored
      .canvas .image
        color = #000
        background-color color

        img
          display none

        .error-message
          color lighten(color, 50%)
          font-size 0.7em
          max-width 80%
          padding 30% 10% 0
          position absolute
          top 0
          z-index 2

          .file-name
            color #FFF
            font-weight bold
            padding 1em 0 2em
            word-break break-word
            width 100%


    &.errored.reader-errored
      .canvas .image
        color = #A33
        background-color color
        .error-message
          color lighten(color, 50%)
          .file-name
            color #FFF

    &.errored.thumbnailer-errored
      .canvas .image
        color = #DA2
        background-color color
        .error-message
          color lighten(color, 70%)
          .file-name
            color #FFF





  &.sending

    .gadget
      background none !important

      .modal
        display none

      .canvas

        .control, .pomp
          display none


      &.uploading
        background none !important

        .modal
          display none

        .canvas
          .control, .pomp
            display none

          .upload.bar
            display block


      &.loaded

        .modal
          display none

        .canvas
          .control, .control.hideable
            &.duplicate
              display none


  #main
    padding-right 0


    #header
      color #999
      font-size 0.7em
      // text-align right
      padding 0.8em

      a
        color #666


    #gadgets
      clearfix()
      border-spacing 1em
      padding-left 1em
      width 100%





    #main-add

      display none
      text-align center

      #add-button
        color = #333
        border-color color
        color color
        cursor pointer
        margin 6em auto 0
        padding-top 4em
        width 15em

        .action
          color #666
          line-height 1.3em
          .main
            color color
            font-size 1.3em
            text-transform uppercase

        .alternative
          color #999
          font-size 0.7em
          padding-top 1em

        .formats
          color #999
          font-size 0.6em
          padding-top 6em

        &:hover, &.over
          color = #000
          border-color color
          background-color #EEE
          color color

      .afterwards
          color #999
          padding-top 3em





  states = normal, sending

  for state in states
    &.{state} #aside .{state}
      display block

  #aside

    for state in states
      .{state}
        display none

    background-color #000
    color #FFF
    height 100%
    padding 0
    position fixed
    right 0
    top 0
    width 0
    z-index 4


    .sending
      .title
        color #999
        font-size 14px
        padding-bottom 2em
        text-align center
        text-transform lowercase
      .progress
        background-color #FFF
        .bar
          background-color #6ED46E
      .counter
        text-align center
        .numbers
          color #666
          font-size 1em
          .done
            color #6ED46E
            font-size 1.8em
          .total
            color #FFF
      .caution
        color #D2A046
        font-size 0.7em
        line-height 1.5em
        padding-top 2.5em
        text-align justify


    .normal
      .header
        position absolute
        top 1em
        width 5em
        z-index 1

        .add-files
          display table-cell
          height 6.9em
          text-transform uppercase
          display none // REMOVER QUANDO CONSERTAR

          &:hover, &.over
            background-color #222
            border-color #FFF
            color #FFF


      #summary
        padding-top 11.5em

        .item
          margin-bottom 1.4em
          text-align center
          .block
            display inline-block
            vertical-align middle
          .count
            color #FFF
            font-size 1.2em
          .times
            color #666
          .product .name
            color #999
            font-size 0.9em

        .divisor
          border-bottom 1px solid #444444

        .total
          color #99FF66
          padding-top 1.5em
          text-align center

          .unit
            font-size 0.9em
          .count
            font-size 2em


      #end
        bottom 5em
        position absolute
        width 8.5em
        & > a#send-button.button
          display block
        #end-confirmation.tooltip
          display none
          position absolute
          right 14.5em
          top -1.6em
          .tooltip-inner
            font-size 14px
            max-width none
            padding 1em
            width 18em
            .question
              color #999
              margin-bottom 1em
            .button
              display: inline-block
              padding 0.5em
            .not-yet
              font-size 0.9em
              link-color(#CCC)
              text-decoration underline


    #cancel
      bottom 3em
      position absolute
      text-align center
      width 9em

      a
        link-color(#999)
        display block
        font-size 13px
        // .icon
        //   background url("sprite.png") no-repeat sprite("/assets/x.png")
        img
          vertical-align middle

    .faded
      opacity 0.4
      transition opacity 0.5s ease-in

    &:hover
      .faded
        opacity 1



  #sent-modal
    h1
      img
        vertical-align -0.3em
    .content
      padding 1em
      h2
        color #000
        font-size 1.1em
      .order
        padding 1em 0 0
      .note
        color #999
        font-size 0.8em
        margin-top 1em
        .observations
          color #AAA
          font-size 0.8em
    .button-group .help
      color #999
      font-size 0.7em
      padding 0 0.9em 1.6em
      text-align right
      a
        color #F93




  #selected-modal
    h1
      img
        vertical-align -0.3em
      .amount
        font-size 1.5em

    .content
      padding 0
      position relative
      h2
        background-color #EEE
        display block
        line-height 1.2em
        padding 1.4em
        font-size 1.4em
        .call
          color #999
          font-size 0.9em
        .choose
          color #333
          font-size 1em
        .note
          color #666
          font-size 0.65em
      #defaults-gadget
        clearfix()
        padding 2em 0 1.5em
        .gadget
          display block
          float none
          margin auto
          position relative
      .summary
        background-color #FCFCDF
        bottom 0
        box-shadow 2px 2px 2px rgba(#000, 0.1)
        color #666
        font-size 0.7em
        padding 1.5em
        position absolute
        right 3em
        vertical-align center
        width 10em
        b
          color #000




  #flash
    z-index 5
