@import "compass/css3";

#gadgets {
    border-spacing: 1em;

    .gadget {
	margin: 1em;
	text-align: center;
	position: relative;
	background-color: #eee;
	
	@include inline-block;

	img {
	    position: relative;
	    z-index: 1;
	}     

	.bar {
	    display: none;
	    position: absolute;
	    top: 0em;
	    z-index: 0;
	}     
    }	


    .gadget.loading {
	width: 10em;
	height: 10em;
	background-color: #eee;
	background: image_url('jla.gif') center center no-repeat;

	img {
	    width: 25px;
	    height: 25px;
	}
    }

    .gadget.thumbnailing {
	width: 10em;
	height: 10em;
	outline: 1px solid #eee;
	background-color: #bbb;

	.bar {
	    display: block;
	    height: 100%;
	    background: white;
	}

	img {
	    width: 100%;
	    height: 100%;
	    background: image_url('la.gif') center center no-repeat;
	}
    }

    .gadget.transitioning {
	background-color: transparent;
	.bar {
	    display: block;
	    height: 100%;
	    width: 100%;
	    background: white;
	}

	img {
	    width: 100%;
	    height: 100%;
	    background: image_url('la.gif') center center no-repeat;
	    @include single-transition(opacity .05s ease);
	}
    }



    .gadget.loaded {
	background-color: transparent;

	img {
	    @include box-shadow(1px 1px 4px #777);
	    @include single-transition(opacity .05s ease-in);
	}

	.bar {
	    display: none;
	}
    }
}